* {
	font-family: sans-serif;
}

.col-md-12 {
	padding: 0;
}

.nav-item {
	font-weight: 600;
}

.navbar {
	width: 100%;
	border: none !important;
}

.navbar-right li a:link {
	color: black !important;
}

.navbar-right li a:hover {
	color: #ee090c !important;
	transition: 0.2s ease-in-out color;
}

.navbar-brand {
	padding: 0;
}

.btn-primary {
	border-color: #ee090c;
	background-color: #ee090c;
}

.wedstrijden-header {
	text-align: center;
	margin: 50px 0 50px 0;
}

.wedstrijden-header span{
	position: relative;
	top: 4px;
	font-family: 'Georgia', serif;
	font-size: 2em;
	line-height: 1.3em;
	font-style: italic;
    font-weight: 700;
    text-transform: none;
	width: 20%;
	color: #ee090c;
}

.wedstrijden-header img {
	margin-left: 5px;
	margin-right: 5px;
}

.footer {
	display:block;
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: black;
	bottom: 0;
	text-align:center;
}

.footer a  {
	margin-top: 20px;
	display: inline-block;
	padding-right: 15px;
	padding-left: 15px;
	color: white;
	border-right: dotted 2px white;
}

.footer a:last-child {
	border: none;
}

.content {
	margin-bottom: 100px;
	border: dotted 2px black;
	padding: 10px;
}

.btn-custom {
	background-color: #ee090c;
    border: none;
    color: white;
    padding: 15px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.wedstrijd-content {
	width: 80%;
	margin-left: 10%;
	margin-bottom: 50px;
}

.wedstrijd-content h2 {
	padding: 20px 0 20px 0;
}

.img-holder {
	padding-bottom: 5%;
	border-bottom: dotted 2px black;
}

.creation-container {
   /* Prevent vertical gaps */
   line-height: 0;
   
   -webkit-column-count: 3;
   -webkit-column-gap:   0px;
   -moz-column-count:    3;
   -moz-column-gap:      0px;
   column-count:         3;
   column-gap:           0px;

	margin-top: 25px;
	margin-bottom: 80px;
}
.creation-container img{
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  padding: 2px;
}

.original-container img{
	width: 100%;
	margin-bottom: 25px;
}

.original-container {
	display: inline-block;
	width: 49%;
	margin-right:1%;
}
.original-uitleg {
	padding-left: 20px;
	width: 49%;
	height: 100%;
	display: inline-block;
	font-size: 1.2em;
}

.original {
	width: 100%;
	display:inline-block;
	padding-top:25px;
	border-bottom: dotted 2px black;
	border-top: dotted 2px black;
}

.winnaar-container img{
	width: 100%;
}

.btn-custom-wedstrijd {
	width: 100%;
	margin-top: 25px;
	float:right;
}

.upvote {
	position: relative;
	height: 15px;
	bottom: 50px;
	margin-bottom: -15px;
	left: 38%;
	color: black;
}

.btn-upvote {
	padding: 10px;
	background-color: white;
	display: inline-block;
}

.btn-upvote img:hover {
	cursor: pointer;
}

.votecount {
	position:relative;
	top: 2.5px;
	color: white;
	background-color: white;
	border-radius: 50%;
	font-size: 1.3em;
	display: inline-block;
}

@media (max-width: 1000px) {
  .creation-container {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .creation-container {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .creation-container {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}