* {
	font-family: sans-serif;
}

.centertext {
	text-align: center;
}

table td {
	word-break: break-all;
	word-wrap:break-word;
}

.col-md-12 {
	padding: 0;
}

.nav-item {
	font-weight: 600;
}

.navbar {
	width: 100%;
	border: none !important;
}

.navbar-right li a:link {
	color: black !important;
}

.navbar-right li a:hover {
	color: #ee090c !important;
	transition: 0.2s ease-in-out color;
}

.navbar-brand {
	padding: 0;
}

.back-link {
	text-decoration: underline;
	font-size: 18px;
	color: black;
	font-weight: 700;
}

.back-link:hover {
	color: #ee090c !important;
	transition: 0.2s ease-in-out color;
}

.btn-primary {
	border-color: #ee090c;
	background-color: #ee090c;
}

.wedstrijden-header {
	text-align: center;
	margin: 50px 0 50px 0;
}

.wedstrijden-header span{
	position: relative;
	top: 4px;
	font-family: 'Georgia', serif;
	font-size: 2em;
	line-height: 1.3em;
	font-style: italic;
    font-weight: 700;
    text-transform: none;
	width: 20%;
	color: #ee090c;
}

.wedstrijden-header img {
	margin-left: 5px;
	margin-right: 5px;
}

.footer {
	display:block;
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: black;
	bottom: 0;
	text-align:center;
}

.footer a  {
	margin-top: 20px;
	display: inline-block;
	padding-right: 15px;
	padding-left: 15px;
	color: white;
	border-right: dotted 2px white;
}

.footer a:last-child {
	border: none;
}

.content {
	margin-bottom: 100px;
	border: dotted 2px black;
	padding: 10px;
}

.content img{
	width: 100%;
}

.btn-custom {
	background-color: #ee090c;
    border: none;
    color: white;
    padding: 15px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.wedstrijd-content {
	width: 80%;
	margin-left: 10%;
	margin-bottom: 50px;
}

.wedstrijd-content h2 {
	padding: 20px 0 20px 0;
}

.img-holder {
	padding-bottom: 5%;
	border-bottom: dotted 2px black;
}

.creation-container {
   /* Prevent vertical gaps */
   line-height: 0;
   
   -webkit-column-count: 3;
   -webkit-column-gap:   0px;
   -moz-column-count:    3;
   -moz-column-gap:      0px;
   column-count:         3;
   column-gap:           0px;

   margin-bottom: 80px;
}

.grid-item {
	margin-bottom: -25px;
}

.creation-container img{ 
 	padding: 2px;
  	width: 100%;
  	height: auto;
}

.original-container img{
	width: 100%;
	margin-bottom: 75px;
	margin-top: 75px;
}

.original-container {
	display: inline-block;
	width: 49%;
	margin-right:1%;
}
.original-uitleg {
	position: relative;
	top: 100px;
	padding-left: 20px;
	width: 49%;
	display: inline-block;
	font-size: 1.2em;
}

.original {
	width: 100%;
	display:inline-block;
	border-bottom: dotted 2px black;
	border-top: dotted 2px black;
}

.winnaar-container img{
	width: 100%;
}

.btn-custom-wedstrijd {
	width: 100%;
	margin-top: 25px;
	float:right;
	font-weight: 600; 
	font-size: 24px
	z-index: 10;
}

#btn-download {
	background-color: #ee090c;
    border: none;
    text-decoration: none;
    margin: 7.5px 0 7.5px 0;
    padding: 5px 10px 5px 10px;
    color: white;
    font-weight: 600;
}

#stemoproep {
	text-align:center; 
	position: relative; 
	top: 40px; 
	color: red;
	font-size: 20px;
	font-weight: 600;
	z-index: -10;
}

.votecontainer {
	padding:2px;
	position:relative;
	bottom: 35px;
	left: 5px;
	width: 17%;
	height: 50%;
	background-color: white;
}

.votecontainer img{
	margin-left: 15%;
	width: 50%;
	height: auto;
}

.votecontainer img:hover {
	cursor: pointer;
}

.votecount {
	position:relative;
	top: 4px;
	color: #f23e3e;
	background-color: white;
	font-size: 1.3em;
	font-weight: 600;
}

.votecount-container {
	display: inline-block;
	border-radius: 50%;
	width: 10%;
	margin-left:15%;
}

.padding-bottom {
	padding-bottom: 80px;
}

.pagination span{
	z-index: 0 !important;
}

.admin-tabel {
	padding: 0 50px 0 50px !important;
}

@media (max-width: 1000px) {
  .creation-container {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .creation-container {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .creation-container {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}